DB_HOST=postgres_db
DB_PORT=5432
DB_USER=postgres_df
DB_PASSWORD=change_this_password
DB_NAME=DigitalFrontiersDB

BACKEND_PORT=3000
FRONTEND_PORT=3001
NGINX_PORT=8089

JWT_SECRET=your_jwt_secret

API_URL=/api

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxxxxxxxx/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

NODE_RED_API_URL=http://nodered:1880